p {
    font-size: 25px;
    font-family: "impact";
    font-weight: bold;
    color:#FAFFFF;
    text-align: justify;
    
}
main{
    background-image:url(https://i.pinimg.com/originals/14/05/9c/14059cabed5424a2eba4fd3d099ae543.jpg) ;
}
header{
    background-image: url(https://wallpapercave.com/wp/r3d2GXb.jpg);
}
footer{
    background-image: url(https://c.wallhere.com/photos/bb/cf/1920x1046_px_Abstract_Art_Wallpaper_HD_artworks_digital_artworks_fantasy_wallpapers_game_wallpapers_grayscale_hd_desktop_images-800713.jpg!d);
}
.parrafo1{
    font-size: 50px;
}
.parrafo2{
    color:blanchedalmond;
}